footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.foo-line {
  width: 100%;
  height: 28px;
  background-color: #e4e4e4;
}

.foo-cont {
  width: calc(min(1250px, 100%));
  padding-top: 60px;
  justify-content: space-between;
  display: flex;
}

.foo-nav {
  display: flex;
  padding-left: 25px;
}

.foo-us {
  padding-right: 25px;
}

.foo-nav-block,
.foo-us {
  padding: 0 25px;
}

.blk-header,
.foo-us-header {
  font-family: Open Sans;
  font-weight: 400;
  color: #9d9d9d;
  letter-spacing: 2px;
}

.blk-items-group {
  display: flex;
  flex-direction: column;
}

.blk-item {
  font-weight: 400;
  padding: 5px 0;
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 1em;
  font-family: Open Sans;
}

.blk-item:hover {
  text-decoration: underline;
}

.foo-us-icon {
  cursor: pointer;
  padding-right: 12px;
}

.foo-us-copyright {
  text-align: right;
  color: #9d9d9d;
  font-family: Lora;
  font-size: 1em;
}

@media screen and (max-width: 900px) {
  .foo-cont {
    align-items: center;
    flex-direction: column;
  }

  .foo-us {
    margin-top: 20px;
    padding-left: 50px;
  }

  .foo-us-copyright {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .foo-nav {
    flex-direction: column;
  }

  .foo-us,
  .foo-nav-block {
    margin-top: 20px;
  }
}
