#jumbo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../img/Group\ 190.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 700px;
}

.jumbo-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(min(1200px, 80%));
  color: var(--taxi, yellow);
  margin-top: 70px;
  margin-bottom: 30px;
}

.jumbo-header > h1 {
  margin: 0;
  font-size: 9em;
  font-family: Lora;
  font-weight: 100;
}

.jumbo-header > p {
  margin: 0;
  margin-top: -20px;
  font-weight: 300;
  font-size: 2em;
  font-family: Open Sans;
}

#jumbo > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6%;
  width: 700px;
}

.search-inp-group {
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 6px #bf9b51;
  margin-right: 25px;
}

.search-inp-sub {
  display: flex;
}

.jumbo-search-form > form {
  font-family: Open Sans;
  display: flex;
}

.jumbo-search-form > form .search-inp {
  background-color: white;
  padding: 12px 12px;
  padding-top: 4px;
  border-right: 1px solid #e4e4e4;
}

.jumbo-search-form
  > form
  .search-inp-sub:last-of-type
  .search-inp:last-of-type {
  border: none;
}

.jumbo-search-form > form .search-inp-sub:first-child .search-inp:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.jumbo-search-form > form .search-inp-sub:last-of-type .search-inp:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jumbo-search-form > form input {
  margin-top: 6px;
  font-size: 1.125em;
  border: none;
  outline: none;
}

.jumbo-search-form > form input::placeholder {
  color: #c5c5c5;
}

.jumbo-search-form > form input[type="submit"] {
  box-shadow: 0 0 6px #bf9b51;
  margin-top: 0;
  font-size: 1.125em;
  color: white;
  cursor: pointer;
  padding: 12px 58px;
  background-color: var(--cone, orangered);
  border-radius: 5px;
}

.jumbo-search-form > form input[type="submit"]:hover {
  background-color: hsl(19, 100%, 55%);
}

.jumbo-search-form > form span {
  font-weight: lighter;
  font-size: 0.85em;
  color: #9d9d9d;
}

.jumbo-search-form > form .search-inp > div > input {
  width: 85%;
}

#advantages {
  display: flex;
  justify-content: center;
}

.advantages-cont {
  margin: 0 30px;
  margin-top: 40px;
  margin-bottom: 100px;
  max-width: 1250px;
  display: flex;
}

.advantages-group {
  display: flex;
}

.advantages-item {
  margin: 0 5px;
}

.advantages-item > h2 {
  font-weight: 500;
  margin: 8px 0;
  font-family: Lora;
  font-size: 1.5em;
}

.advantages-item > p {
  margin: 0;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.25em;
}

#guide {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.guide-card {
  padding: 20px;
  padding-bottom: 40px;
  width: calc(min(1250px, 90%));
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.guide-group {
  width: 50%;
  display: flex;
  align-items: flex-start;
}

.guide-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Lora;
  font-size: 2.25em;
  font-weight: 500;
}

.guide-content {
  display: flex;
  align-items: flex-start;
}

.guide-group > img {
  margin: 0 10px;
  margin-top: 20px;
}

.guide-item {
  width: 50%;
}

.guide-item-header {
  margin: 10px 0;
  font-family: Open Sans;
  font-size: 1.2em;
  font-weight: 400;
}

.guide-item-text {
  color: #969696;
  margin: 0;
  font-family: Open Sans;
  font-size: 0.875em;
  font-weight: 300;
}

#popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.popular-head {
  width: calc(min(1250px, 90%));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.popular-header {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: Lora;
  font-size: 2.25em;
  font-weight: 500;
}

.popular-head .popular-inp {
  background-color: white;
  padding: 12px 12px;
  padding-top: 4px;
  border: 2px solid hsla(0, 0%, 62%, 0.25);
}

.popular-head .popular-inp:first-of-type {
  border-right: none;
}

.popular-head .popular-inp .popular-inp-hint {
  font-family: Open Sans;
  font-weight: lighter;
  font-size: 0.85em;
  color: #9d9d9d;
}

.popular-head .popular-inp input::placeholder {
  color: #c5c5c5;
}

.popular-head .popular-inp input {
  margin-top: 6px;
  font-size: 1.125em;
  border: none;
  outline: none;
}

.popular-head .popular-inp input {
  width: 85%;
}

.popular-head .popular-inp span {
  font-weight: lighter;
  font-size: 0.85em;
  color: #9d9d9d;
}

.pop-inp-group {
  display: flex;
}

.popular-body {
  width: calc(min(1250px, 90%));
  display: flex;
  justify-content: center;
}

.popular-body img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.popular-card-big,
.popular-card-small {
  box-shadow: 0 2px 4px rgba(78, 78, 78, 0.25);
  border-radius: 8px;
  margin: 10px 8px;
  padding-bottom: 6px;
  background-color: white;
}

.popular-card-small {
  display: flex;
  justify-content: space-between;
}

.pop-item-dir,
.pop-item-price {
  margin: 8px 20px;
  color: #525252;
  font-size: 1.2em;
  font-family: Open Sans;
  font-weight: 300;
}

.pop-item-price b {
  font-weight: 500;
}

#reviews {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.reviews-card {
  padding: 20px 40px;
  width: calc(min(1250px, 90%));
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.reviews-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Lora;
  font-size: 2.25em;
  font-weight: 500;
}

.reviews-content {
  display: flex;
}

.review-item {
  margin: 0 5px;
}

.review-item > .review-text {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.2em;
}

.review-item > .rating {
  display: flex;
}

.review-item > .rating > div {
  margin-right: 5px;
  height: 15px;
  width: 15px;
  background-color: var(--cone, orangered);
  border-radius: 100%;
}

.review-item > .rating > div.nope {
  background-color: lightgrey;
}

.review-item > .author {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.2em;
  font-style: italic;
}

#mail {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.mail-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: calc(min(1350px, 90%));
}

.mail-head {
  display: flex;
}

.mail-head img {
  margin-right: 20px;
}

.mail-text h2 {
  font-weight: 400;
  color: #525252;
  font-family: Lora;
  font-size: 1.5em;
  margin: 0;
}

.mail-text p {
  max-width: 370px;
  font-weight: 300;
  color: #7d7d7d;
  font-family: Open Sans;
  font-size: 1.125em;
  margin: 0;
}

.mail-body {
  margin-left: 28px;
  margin-top: 10px;
  display: flex;
}

.mail-body > input[type="email"] {
  margin-right: 12px;
  border: 1px solid hsla(0, 0%, 62%, 0.5);
  color: #7d7d7d;
  width: 285px;
  padding: 18px 14px;
  font-size: 1.125em;
}

.mail-body > input[type="submit"] {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 1.125em;
  width: 170px;
  cursor: pointer;
  border: none;
  background-color: var(--cone, orangered);
  border-radius: 5px;
  color: white;
}

.mail-body > input[type="submit"]:hover {
  background-color: hsl(19, 100%, 55%);
}

@media screen and (max-width: 1400px) {
  #jumbo > img {
    left: 10%;
    width: 500px;
  }

  .search-inp {
    width: 250px;
  }

  .search-inp-sub {
    flex-direction: column;
  }

  .search-inp-group {
    flex-wrap: wrap;
  }

  .jumbo-search-form > form {
    align-items: center;
    flex-direction: column;
  }

  .jumbo-search-form > form input[type="submit"] {
    margin-top: 25px;
    height: 60px;
  }

  .jumbo-search-form
    > form
    .search-inp-sub:first-child
    .search-inp:first-child {
    border-radius: 0;
    border-top-left-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub:first-child .search-inp:last-child {
    border-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub:last-child .search-inp:first-child {
    border-radius: 0;
    border-top-right-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub:last-child .search-inp:last-child {
    border-radius: 0;
    border-bottom-right-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub:last-of-type .search-inp {
    border: none;
  }
}

@media screen and (max-width: 950px) {
  .advantages-group {
    flex-direction: column;
  }

  .guide-content {
    flex-direction: column;
  }

  .guide-group {
    width: 95%;
  }

  .pop-group:last-child {
    display: none;
  }

  #jumbo > img {
    left: 0%;
  }
}

@media screen and (max-width: 810px) {
  .popular-head {
    flex-direction: column;
  }

  .mail-cont {
    align-items: center;
    flex-direction: column;
  }

  .jumbo-header {
    margin-top: 100px;
  }

  .jumbo-header h1 {
    font-size: 3em;
  }

  .jumbo-header p {
    margin-top: 0;
    font-size: 0.875em;
  }

  .search-inp-group {
    margin-right: 0;
  }

  .search-inp > input {
    width: 90%;
  }

  .jumbo-search-form > form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  #jumbo {
    background-size: cover;
  }
}

@media screen and (max-width: 640px) {
  .search-inp-group {
    flex-direction: column;
  }

  .jumbo-search-form
    > form
    .search-inp-sub:first-child
    .search-inp:first-child {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub:first-child .search-inp:last-child {
    border-radius: 0;
  }

  .jumbo-search-form > form .search-inp-sub:last-child .search-inp:first-child {
    border-radius: 0;
  }

  .jumbo-search-form > form .search-inp-sub:last-child .search-inp:last-child {
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .jumbo-search-form > form .search-inp-sub .search-inp {
    border-bottom: 1px solid #e4e4e4;
  }

  .jumbo-search-form > form .search-inp-sub:first-of-type .search-inp {
    border-right: 0;
  }

  .jumbo-search-form > form .search-inp-sub:last-of-type .search-inp {
    border-bottom: 1px solid #e4e4e4;
  }

  #jumbo > img {
    left: -30%;
  }
}

@media screen and (max-width: 540px) {
  .advantages-cont {
    flex-direction: column;
  }

  .guide-group {
    flex-direction: column;
  }

  .guide-group > img {
    transform: rotate(90deg);
  }

  .guide-group > .guide-item {
    width: 100%;
  }

  .pop-inp-group {
    flex-direction: column;
  }

  .pop-inp-group > .popular-inp:last-of-type {
    border-top: 0;
  }

  .popular-body .pop-group:nth-child(2) {
    display: none;
  }

  .reviews-content {
    flex-direction: column;
  }

  .mail-head {
    align-items: center;
    flex-direction: column;
  }

  .mail-head > img {
    width: 100px;
  }

  .mail-body {
    flex-direction: column;
  }

  .mail-body > input[type="submit"] {
    margin-top: 20px;
    height: 60px;
  }

  #jumbo > img {
    display: none;
  }
}
