:root {
  --asphalt: #262628;
  --taxi: #dfa34f;
  --cone: #ff854c;
  --midnight: #2e3d91;
  --headlight: #f7f7f7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input:focus {
  outline: 2px solid var(--cone, orangered);
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-Italic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-MediumItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-SemiBoldItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/static/Lora-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
